/* CSS Reset */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Login Page */
#app {
  background-image: url(./assets/addidas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.slogan {
  color: white;
  font-size: 1.5em;
  margin-bottom: 150px;
}

#login_input {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 2px solid #ff4d00;
  width: 300px;
  background-color: rgba(114, 114, 114, 0.7);
  border-radius: 30px;
  padding: 30px;
}

#login_input button {
  height: 40px;
  border-radius: 30px;
  background-color: #ff4d00;
  color: white;
  font-weight: bolder;
  border: 0px;
  margin-top: 20px;
}

#login_input button:hover {
  background-color: #ff7135;
  cursor: pointer;
}

#login_input input {
  width: 90%;
  height: 40px;
  padding-left: 10px;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: bold;
}

/* Welcome Page */

.container {
  padding-top: 10px;
  background-image: url(./assets/addidas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
}

.container > p {
  color: white;
  text-align: center;
  font-size: 70px;
  font-family: "Fondamento", cursive;
  -webkit-text-stroke: 1.6px #ff4d00;
}
.container > p::first-letter {
  color: #ff4d00;
}

#log-out {
  cursor: pointer;
  background-color: rgba(172, 172, 172, 0.7);
  border: 0;
  height: 40px;
  width: 100px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 40px 45% 0px;
}

#log-out:hover {
  background-color: rgb(172, 172, 172);
}

.actions {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.actions div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  color: white;
  background-color: rgba(69, 69, 69, 0.7);
  border-radius: 10px;
  box-shadow: 3px 3px 4px 10px white;
  cursor: pointer;
}

.actions div:hover {
  background-color: rgba(79, 79, 79, 0.8);
  box-shadow: 2px 2px 4px 10px grey;
}

.actions > a {
  text-decoration: none;
}

/* Properties Page */
#properties {
  background-image: url(./assets/properties.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  /* height: 100vh; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%; */
}

.property-card {
  border: 1px solid black;
  margin: 40px;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
